*DS_Store*
*.cache
*~
*.log
confdefs.h
config.h
conftest*
conf*/*.awk
*.status
*.o
lib*.a
Makefile
Makefile*orig
*(Autosaved)*
*.dylib
dlopen.3
stamp-*
*.tar.gz
*deps/*.*o
*.dSYM
*.hmap
*.pbxuser
*.perspectivev3
*.pbxbtree
*.pbxsymbols
*.dat
*.xcodeproj/.dat*
*.octest
*.pbxstrings
*.build
build/*
dlcompat-*.*.*/*
*.xcworkspace
*.xcodeproj/xcuserdata/*
